body {
    background-color: grey;
}

/* BACK BUTTON */
.back-btn {
    position: absolute;
    top: 80px;
    left: 45px;
    display: flex;
    align-items: center;
}

.back-btn a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.back-btn a:hover {
    color: black;
    cursor: pointer;
}

.back-btn i {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.back-btn i:hover {
    background-color: white;
}

/* SEARCH BAR */
  #search-input {
    position: relative;
    top: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 25px;
    width: 500px; /* adjust as needed */
    height: 100px;
    font-size: 2em;
    margin: 0 auto; /* centers the element horizontally */
    display: block; /* displays the element as a block-level element */
    background-color: black;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
  

  
  #music-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 100px;
    position: relative;
    margin-bottom: 250px;
  }
  
  #music-list li {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0px;
    border-top: 1px solid #ccc;
  }

  #music-list img {
    width: 150px;
    height: 150px;
    top: 50px;
    position: relative;
    border: 3px solid #333;
  }

  #music-list h2 {
    position: relative;
    left: 200px;
    bottom: 100px;
  }

  #music-list p {
    position: relative;
    left: 200px;
    bottom: 80px;
    font-size: 1.5em;
  }


/* NAVBAR */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: black;
    z-index: 1;
    height: 15%;
    color: white;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.navbar ul li {
    padding: 10px;
}

.now-playing {
    display: flex;
    justify-content: center;
}

.track-art {
    width: 100px;
    height: 100px;
    position: relative;
    top: 30px;
    left: 20px;
}

.track-art img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */max-width: 100%;
}

.track-name {
    position: relative;
    left: 140px;
    bottom: 50px;
}

.track-artist {
    position: relative;
    left: 140px;
    bottom: 30px;
}

.slider_container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}

.slider_container2 {
    display: flex;
    justify-content:right;
    position: relative;
    bottom: 100px;
}

.now-playing {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 60px;
    cursor: pointer;
}

.active{
    color: black;
}

.random-track i{
    background-color: gray;
    color: blue;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
    width: 100%;
}

.prev-track i{
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
    width: 100%;
}

.playpause-track i{
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
    width: 100%;
}

.next-track i{
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
    width: 100%;
}

.repeat-track i{
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
    width: 100%;
}



